<footer class="text-center" style="background-color: #000769">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Navbar -->
    <section class="navbar-nav mb-4 d-flex flex-row justify-content-center">
      <a class="mx-3 nav-item nav-link text-white" href="index.php"
        >Dashboard</a
      >
      <a class="mx-3 nav-item nav-link text-white" href="index.php#Daftar-Mobil"
        >Daftar Mobil</a
      >
      <a class="mx-3 nav-item nav-link text-white" href="iklan-saya.php">Iklan Saya</a>
      <a class="mx-3 nav-item nav-link text-white" href="komparasi.php">Komparasi</a>
    </section>
    <!-- Section: Navbar -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #00043d; color: white">
    All Rights Reserved • Copyright SeconDrive 2024 in Semarang
  </div>
  <!-- Copyright -->
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
