<footer class="text-center" style="background-color: #000769;">
    <!-- Grid container -->
    <div class="container pt-4 ">
        <!-- Section: Navbar -->
        <section class="navbar-nav mb-4 d-flex flex-row justify-content-center">
            <a class="mx-3 nav-item nav-link text-white" href="index.php">Dashboard</a>
            <a class="mx-3 nav-item nav-link text-white" href="#Daftar-Mobil">Daftar Mobil</a>
            <a class="mx-3 nav-item nav-link text-white" href="#">Chat</a>
            <a class="mx-3 nav-item nav-link text-white" href="#">Iklan Saya</a>
            <a class="mx-3 nav-item nav-link text-white" href="#">Komparasi</a>
        </section>
        <!-- Section: Navbar -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #00043D ; color: white ;">
        All Rights Reserved • Copyright SeconDrive 2024 in Semarang
    </div>
    <!-- Copyright -->
</footer>